@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-timeline: ;
}

/* Tailwind's compiler specifically requires custom classes to be wrapped in @layer utilities to generate responsive prefixes like sm: and md:. */
@layer utilities {
  .bg-terminal-grid {
    background-color: #09090b;
    background-image:
      repeating-linear-gradient(
        to right,
        transparent 0,
        transparent 2px,
        #09090b 2px,
        #09090b 6px,
        transparent 6px,
        transparent 8px
      ),
      repeating-linear-gradient(
        to bottom,
        transparent 0,
        transparent 2px,
        #09090b 2px,
        #09090b 6px,
        transparent 6px,
        transparent 8px
      ),
      linear-gradient(to bottom, #10b98180 0.72px, transparent 0.72px),
      linear-gradient(to right, #10b98180 0.72px, transparent 0.72px);
    background-size:
      100% 100%,
      100% 100%,
      24px 24px,
      24px 24px;
    background-position:
      0 0,
      0 0,
      0 -0.24px,
      -0.24px 0;
  }
}
